[package]
name = "count"
version = "0.2.2"
authors = ["Julian Gehring"]
edition = "2018"

[dependencies]
hashbrown = {version = "0.9.1", features = ["rayon"]}
rayon = "1.3.1"
structopt = "0.3.20"

[dev-dependencies]
assert_cmd = "1.0.1"
predicates = "1.0.5"

[profile.release]
lto = true
codegen-units = 1
