[package]
name = "count"
version = "0.2.0"
authors = ["Julian Gehring <juliangehring@users.noreply.github.com>"]
edition = "2018"

[dependencies]
hashbrown = {version = "0.4.0", features = ["rayon"]}
rayon = "1.0.3"
signal-hook = "0.1.9"
structopt = "0.2.16"

[dev-dependencies]
assert_cmd = "0.11.1"
predicates = "1.0.1"

[profile.release]
lto = true
codegen-units = 1
