[package]
name = "count"
version = "0.1.0"
authors = ["Julian Gehring <juliangehring@users.noreply.github.com>"]
edition = "2018"

[dependencies]
failure = "0.1.5"
hashbrown = {version = "0.2.1", features = ["rayon"]}
rayon = "1.0.3"
signal-hook = "0.1.8"
structopt = "0.2.15"

[dev-dependencies]
assert_cmd = "0.11.1"
predicates = "1.0.0"

[profile.release]
lto = true
codegen-units = 1
