[package]
name = "count"
version = "0.2.0"
authors = ["Julian Gehring"]
edition = "2018"

[dependencies]
hashbrown = {version = "0.7.1", features = ["rayon"]}
rayon = "1.3.0"
signal-hook = "0.1.13"
structopt = "0.3.12"

[dev-dependencies]
assert_cmd = "0.12.0"
predicates = "1.0.4"

[profile.release]
lto = true
codegen-units = 1
